Lab 9/flow-temperature-dashboard.json.txt.json
[
    {
        "id": "6380bb1d.1700f4",
        "type": "tab",
        "label": "Temperature Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "574a0a22.6164f4",
        "type": "arduino in",
        "z": "6380bb1d.1700f4",
        "name": "Thermistor (A1)",
        "pin": "1",
        "state": "ANALOG",
        "arduino": "b4543f4.a6ae6c",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "1211bec3.887e81"
            ]
        ]
    },
    {
        "id": "1211bec3.887e81",
        "type": "function",
        "z": "6380bb1d.1700f4",
        "name": "convert to celsius",
        "func": "var code = msg.payload;\nvar c;\n\nif (code <= 289) {\n    c = 5 + (code - 289) / 9.82;\n}\nif (code > 289 && code <= 342) {\n    c = 10 + (code - 342) / 10.60;\n}\nif (code > 342 && code <= 398) {\n    c = 15 + (code - 398) / 11.12;\n}\nif (code > 398 && code <= 455) {\n    c = 20 + (code - 455) / 11.36;\n}\nif (code > 455 && code <= 512) {\n    c = 25 + (code - 512) / 11.32;\n}\nif (code > 512 && code <= 566) {\n    c = 30 + (code - 566) / 11.00;\n}\nif (code > 566 && code <= 619) {\n    c = 35 + (code - 619) / 10.44;\n}\nif (code > 619 && code <= 667) {\n    c = 40 + (code - 667) / 9.73;\n}\nif (code > 667) {\n    c = 45 + (code - 712) / 8.90;\n}\n\nmsg.payload = c;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "213d5e43.cddab2"
            ]
        ]
    },
    {
        "id": "213d5e43.cddab2",
        "type": "function",
        "z": "6380bb1d.1700f4",
        "name": "cache temperature",
        "func": "flow.set(\"temperature\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "f0dd3783.9b9548"
            ]
        ]
    },
    {
        "id": "f0dd3783.9b9548",
        "type": "debug",
        "z": "6380bb1d.1700f4",
        "name": "initial temperature (celsius)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "ae45bb6d.ffbc48",
        "type": "arduino in",
        "z": "6380bb1d.1700f4",
        "name": "Button (Pin 3)",
        "pin": "3",
        "state": "INPUT",
        "arduino": "b4543f4.a6ae6c",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "32284eda.2fb252"
            ]
        ]
    },
    {
        "id": "32284eda.2fb252",
        "type": "debounce",
        "z": "6380bb1d.1700f4",
        "time": "500",
        "name": "debounce (500ms)",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "4eeafda5.bfa154"
            ]
        ]
    },
    {
        "id": "4eeafda5.bfa154",
        "type": "function",
        "z": "6380bb1d.1700f4",
        "name": "cycle button click: 1, 2, 3, 1...",
        "func": "var clickCount = flow.get(\"tempState\");\n\nif (clickCount === undefined) {\n    clickCount = 0;\n} else {\n    clickCount++;\n}\nif (clickCount == 4) {\n    clickCount = 1;\n}\n\nflow.set(\"tempState\", clickCount);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "4e3cfa66.aeb1d4"
            ]
        ]
    },
    {
        "id": "4e3cfa66.aeb1d4",
        "type": "switch",
        "z": "6380bb1d.1700f4",
        "name": "switch temperature state (C, F, K)",
        "property": "tempState",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 220,
        "y": 360,
        "wires": [
            [
                "d51a07ab.c2e618",
                "4e1dcd3c.5de944"
            ],
            [
                "66adddfb.b02d44",
                "3f0ae015.1393e"
            ],
            [
                "39bd7114.dc278e",
                "366a6eb2.394272"
            ]
        ]
    },
    {
        "id": "d51a07ab.c2e618",
        "type": "function",
        "z": "6380bb1d.1700f4",
        "name": "get cached temperature",
        "func": "msg.payload = flow.get(\"temperature\").toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "55b36815.f22388",
                "8c979a5c.4cd278",
                "cf594935.5fe1d8",
                "4e1dcd3c.5de944"
            ]
        ]
    },
    {
        "id": "66adddfb.b02d44",
        "type": "function",
        "z": "6380bb1d.1700f4",
        "name": "get cached temperature and convert to fahrenheit",
        "func": "var f = (flow.get(\"temperature\") * 1.8) + 32;\nmsg.payload = f.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "fcaf1f21.45b14",
                "5b63e7b.7f64818",
                "154dab82.93b714",
                "3f0ae015.1393e"
            ]
        ]
    },
    {
        "id": "39bd7114.dc278e",
        "type": "function",
        "z": "6380bb1d.1700f4",
        "name": "get cached temperature and convert to kelvin",
        "func": "var k = flow.get(\"temperature\") + 273.15;\nmsg.payload = k.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "99613a61.60d288",
                "1861b323.68456d",
                "eb94b597.d2b268",
                "366a6eb2.394272"
            ]
        ]
    },
    {
        "id": "55b36815.f22388",
        "type": "template",
        "z": "6380bb1d.1700f4",
        "name": "celsius template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Temperature: {{payload}}°C",
        "output": "str",
        "x": 400,
        "y": 680,
        "wires": [
            [
                "f518b921.b84488"
            ]
        ]
    },
    {
        "id": "fcaf1f21.45b14",
        "type": "template",
        "z": "6380bb1d.1700f4",
        "name": "fahrenheit template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Temperature: {{payload}}°F",
        "output": "str",
        "x": 410,
        "y": 720,
        "wires": [
            [
                "e53b0512.a02598"
            ]
        ]
    },
    {
        "id": "99613a61.60d288",
        "type": "template",
        "z": "6380bb1d.1700f4",
        "name": "kelvin template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Temperature: {{payload}}K",
        "output": "str",
        "x": 400,
        "y": 760,
        "wires": [
            [
                "42cf8ca6.95a1e4"
            ]
        ]
    },
    {
        "id": "f518b921.b84488",
        "type": "debug",
        "z": "6380bb1d.1700f4",
        "name": "temperature (celsius)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 680,
        "wires": []
    },
    {
        "id": "e53b0512.a02598",
        "type": "debug",
        "z": "6380bb1d.1700f4",
        "name": "temperature (fahrenheit)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "42cf8ca6.95a1e4",
        "type": "debug",
        "z": "6380bb1d.1700f4",
        "name": "temperature (kelvin)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 800,
        "wires": []
    },
    {
        "id": "85063446.60d5f8",
        "type": "comment",
        "z": "6380bb1d.1700f4",
        "name": "Temperature Unit Toggle by Michael Turner 040863378",
        "info": "",
        "x": 220,
        "y": 40,
        "wires": []
    },
    {
        "id": "f068426f.52ca5",
        "type": "comment",
        "z": "6380bb1d.1700f4",
        "name": "Thermistor sensor collects the current temperature as the input data",
        "info": "",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "99589bd8.d45658",
        "type": "comment",
        "z": "6380bb1d.1700f4",
        "name": "Button to change projected temperature unit representation",
        "info": "",
        "x": 250,
        "y": 200,
        "wires": []
    },
    {
        "id": "68643203.4159dc",
        "type": "comment",
        "z": "6380bb1d.1700f4",
        "name": "Purposely no degree symbol (°) for kelvin temperature",
        "info": "",
        "x": 960,
        "y": 800,
        "wires": []
    },
    {
        "id": "a292336f.d71ca",
        "type": "ui_gauge",
        "z": "6380bb1d.1700f4",
        "name": "Gauge (temperature)",
        "group": "a44a5ef6.6f27f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{topic}}",
        "label": "{{unit}}",
        "format": "{{value}}",
        "min": 0,
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1060,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf594935.5fe1d8",
        "type": "ui_chart",
        "z": "6380bb1d.1700f4",
        "name": "Graph (celsius)",
        "group": "867dc852.a75908",
        "order": 0,
        "width": "6",
        "height": "9",
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No recorded data",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1080,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "154dab82.93b714",
        "type": "ui_chart",
        "z": "6380bb1d.1700f4",
        "name": "Graph (fahrenheit)",
        "group": "39833963.2f1ff6",
        "order": 0,
        "width": "6",
        "height": "9",
        "label": "Temperature (°F)",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No recorded data",
        "dot": true,
        "ymin": "32",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1070,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "eb94b597.d2b268",
        "type": "ui_chart",
        "z": "6380bb1d.1700f4",
        "name": "Graph (kelvin)",
        "group": "f396bfb0.f64b8",
        "order": 0,
        "width": "6",
        "height": "9",
        "label": "Temperature (K)",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No recorded data",
        "dot": true,
        "ymin": "200",
        "ymax": "400",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1080,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8c979a5c.4cd278",
        "type": "template",
        "z": "6380bb1d.1700f4",
        "name": "celsius speech template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The temperature is {{payload}} degrees celsius",
        "output": "str",
        "x": 810,
        "y": 540,
        "wires": [
            [
                "200c27fd.dce618"
            ]
        ]
    },
    {
        "id": "5b63e7b.7f64818",
        "type": "template",
        "z": "6380bb1d.1700f4",
        "name": "fahrenheit speech template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The temperature is {{payload}} degrees fahrenheit",
        "output": "str",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "200c27fd.dce618"
            ]
        ]
    },
    {
        "id": "1861b323.68456d",
        "type": "template",
        "z": "6380bb1d.1700f4",
        "name": "kelvin speech template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The temperature is {{payload}} kelvin",
        "output": "str",
        "x": 820,
        "y": 620,
        "wires": [
            [
                "200c27fd.dce618"
            ]
        ]
    },
    {
        "id": "200c27fd.dce618",
        "type": "ui_audio",
        "z": "6380bb1d.1700f4",
        "name": "Audio (temperature)",
        "group": "a44a5ef6.6f27f",
        "voice": "Google UK English Female",
        "always": "",
        "x": 1060,
        "y": 580,
        "wires": []
    },
    {
        "id": "a97ad422.82cff8",
        "type": "ui_text",
        "z": "6380bb1d.1700f4",
        "group": "f9d895b7.369288",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Author",
        "label": "Developer:",
        "format": "Michael Turner (turn0245@algonquinlive.com)",
        "layout": "row-left",
        "x": 1110,
        "y": 520,
        "wires": []
    },
    {
        "id": "4e1dcd3c.5de944",
        "type": "change",
        "z": "6380bb1d.1700f4",
        "name": "ui_control: celsius",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Celsius",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "unit",
                "pt": "msg",
                "to": "°C",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ui_control",
                "pt": "msg",
                "to": "{ \"min\": 0, \"max\": 50 }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "a292336f.d71ca"
            ]
        ]
    },
    {
        "id": "3f0ae015.1393e",
        "type": "change",
        "z": "6380bb1d.1700f4",
        "name": "ui_control: fahrenheit",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fahrenheit",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "unit",
                "pt": "msg",
                "to": "°F",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ui_control",
                "pt": "msg",
                "to": "{ \"min\": 32, \"max\": 100 }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "a292336f.d71ca"
            ]
        ]
    },
    {
        "id": "366a6eb2.394272",
        "type": "change",
        "z": "6380bb1d.1700f4",
        "name": "ui_control: kelvin",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Kelvin",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "unit",
                "pt": "msg",
                "to": "K",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ui_control",
                "pt": "msg",
                "to": "{ \"min\": 200, \"max\": 400 }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "a292336f.d71ca"
            ]
        ]
    },
    {
        "id": "b4543f4.a6ae6c",
        "type": "arduino-board",
        "device": "COM3"
    },
    {
        "id": "a44a5ef6.6f27f",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "8f3c5a6e.374778",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "867dc852.a75908",
        "type": "ui_group",
        "name": "Graph Celsius",
        "tab": "8f3c5a6e.374778",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "39833963.2f1ff6",
        "type": "ui_group",
        "name": "Graph Fahrenheit",
        "tab": "8f3c5a6e.374778",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f396bfb0.f64b8",
        "type": "ui_group",
        "name": "Graph Kelvin",
        "tab": "8f3c5a6e.374778",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f9d895b7.369288",
        "type": "ui_group",
        "name": "About",
        "tab": "a4963402.eff818",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8f3c5a6e.374778",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "fa-thermometer-empty",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a4963402.eff818",
        "type": "ui_tab",
        "name": "Author",
        "icon": "fa-info",
        "disabled": false,
        "hidden": false
    }
]